 <%= form_for @quote do |form| %>
  <div class="field-container">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, placeholder: "Enter a quote", autofocus: true, class: "input w-full" %>
  </div>
  <% @quote.errors.full_messages_for(:name).each do |message| %>
    <p class="error-message"><%= message %></p>
  <% end %>

  <div class="flex mt-4 gap-4">
    <%= link_to "Cancel", quotes_path, class: "button" %>
    <%= form.submit class:"button" %>
  </div>
<% end %>
