<%= turbo_stream_from  current_company, "quotes" %>

<main class="main">
  <div class="header">
    <h1 class="title">Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                class: "button",
                data: { turbo_frame: "new_quote" } %>
  </div>
  <hr class="divider">

  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag "quotes", class: "grid gap-4 p-2 mt-4"  do %>
    <%= render @quotes %>
  <% end %>
</main>
