<!DOCTYPE html>
<html>
  <head>
    <title>Turbo Tutorial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class= "flex flex-col w-screen h-screen">
      <%= render "layouts/navbar" %>

      <div id="flash" class="flashe">
        <%= render "layouts/flash" %>
      </div>

      <div class="p-6">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
